<ion-view>
<ion-content class="padding-horizontal">
  <h4 class="title-header">About</h4>
  <p class="margin-width app-version">{{appVersion}}</p>
  <a class="button button-block icon-right ion-chevron-right button-green" href="#/app/about/termsofuse">Terms of Use</a>
  <a class="button button-block icon-right ion-chevron-right button-green" href="#/app/about/privacypolicy">Privacy Policy</a>
  <!-- <a class="button button-block icon-right ion-chevron-right button-green">Third Party Notices</a> -->
  <a class="button button-block icon-right ion-chevron-right button-green" href="#" onclick="window.open('https://www.fitmk.com/', '_system', 'location=yes'); return false;">Visit Website</a>
  <!-- <a class="button button-block icon-right ion-chevron-right button-green" onclick="rateAppOnStore()">Rate in App Store</a> -->
</ion-content>
</ion-view>
