<ion-view>
  <ion-content padding="true" has-bouncing="false">
    <div class="padding-horizontal">
      <img class='title-image' src='img/logo.png' style='width:100%;height:auto;margin:30px 0;' />
      <h5 class="title-header">RESET YOUR PASSWORD</h5>
      <p>
        Please enter the email address on your account below.
        We will then email you a link to reset your password!
      </p>
      <div class="registration-input">
        <label class="item item-input">
        <input type="email" ng-model="resetpassword.email" placeholder="E-mail">
        </label>
        <button class="button button-block button-green"  ng-click="doSubmit()">Submit</button>
        <button class="button button-block button-green" ng-click="cancel()">Cancel</button>

      </div>
    </div>
  </ion-content>
</ion-view>
