<ion-view>
<ion-content>
  <br />
  <h4 ng-style="{'text-align':'center'}">Update My Email</h4>

  <div class="padding-horizontal">
    <form name="updateEmailForm" class="registration-input">
      <br />
      <br />
      <label class="item item-input">
        <input type="email" placeholder="Email" name="email" ng-model="email"/>
      </label>
      <br />
      <button class="button button-block button-green" type="submit" ng-click="submitData(updateEmailForm)">Submit</button>
    </form>
  </div>

</ion-content>
</ion-view>
